body {
    background-image: url("Stock/atletismo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

p {
    text-align: left;
    font-family: Arial;
    font-size: 3ex;
    color: black;
    font-weight: normal;
    background: #FCF598;
    margin-left:30px;
    margin-right:30px;
}

strong {
    text-align: center;
    font-size: 2ex;
    font-family: Arial Black;
    color: black;
    font-weight: bold;
    background: #FCF598;
    margin-right: 500px;
}

h2 {
    background-color: #000000;
    font-family: Verdana;
    color: white;
    font-size: 7ex;
    text-align: center;
}

h3 {
    font-family: Verdana;
    color: white;
    font-size: 4ex;
    text-align: center;
    background: black;
    margin-left:150px;
    margin-right:150px;
}
