body {
    background: #B3D8F5;
}

h1 {
    background-color: #0B70A9;
    font-family: Verdana;
    color: white;
    font-size: 7ex;
    text-align: center;
}

div {
    text-align: left;
    font-family: Verdana;
    color: black;
    font-weight: normal;
    font-size: 2ex;
    background: #80BEEE;
    margin-left:20px;
    margin-right:20px;
}

h3 {
    font-family: Verdana;
    color: white;
    font-size: 4ex;
    text-align: center;
    background: black;
    margin-left: 150px;
    margin-right: 150px;
}
