body {
    background-image: url("Stock/basket.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

p {
    text-align: left;
    font-family: Arial;
    color: black;
    font-weight: normal;
    background: #FCB587;
}


h2 {
    background-color: #FA7025;
    font-family: Verdana;
    color: white;
    font-size: 7ex;
    text-align: center;
}

h3 {
    font-family: Verdana;
    color: white;
    font-size: 4ex;
    text-align: center;
    background: black;
    margin-left: 150px;
    margin-right: 150px;
}
#img{
    margin-left:300px;
    margin-right:300px;
}
